.ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    line-height: 300px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-layout-sider{
      min-height: 280px;
  }
  .anticon-star::before{
    color:#e8e8e8!important;
  }
  .ant-rate-star-full .ant-rate-star-second .anticon-star::before{
    color:gold!important
  }
  .ant-card-body{
    min-height: 114px;
  }
 .ant-calendar-picker-icon{
  right:1px;
}
.description{
margin-top:2px;
font-size:26px;
font-family: 'Open Sans Condensed', sans-serif;
margin-Left: 7%;
width: 91%;
height: 163px
}
.review{
  margin-top:4px;
  width: 91%;
  overflow-y: scroll;
  max-height:400px;
  word-wrap: break-word
}
.saveIcon{
  position: absolute;
    margin-top: 5%;
    margin-left: 77%;
    color: gold!important;
    font-weight: 400;
    z-index: 20;
    font-size: 27px;
}