<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="dist/min/basic.min.css" rel="stylesheet"> 
    <link href="dist/min/dropzone.min.css" rel="stylesheet"> 
    <link href="dist/basic.css" rel="stylesheet"> 
    <link href="dist/min/dropzone.css" rel="stylesheet"> 
</head>
<body>
    <form action="#" class="dropzone" id="avatar-dropzone">
        <input type="file" name="file">
    </form>

    <script>
        $(document).ready(function(){
            Dropzone.autodiscover = false;
        });    

        var myDropzone = new Dropzone("#avatar-dropzone");
    </script>
        <script src="dist/min/dropzone-amd-module.min.js"></script>
        <script src="dist/min/dropzone.min.js"></script>
        <script src="dist/dropzone-amd-module.js"></script>
        <script src="dist/dropzone.js"></script>
</body>
</html>