.demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background: white;
    margin-left: 954px;
    overflow: auto;
    padding: 8px -8px;
    height: 300px;
    width:235px;
  }
  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
  .ReactCollapse--collapse{
    margin-top:114px;
    position:fixed;
    z-index:30
  }
  .ant-list-item-meta-avatar{
    margin-left:4px;
    margin-right:5px
  }