.card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 25%;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    float: left;
}

.card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background: rgb(163,184,151);
  }

  .card > .img-container > img {
    width: 60%
  }