.footer-area section-gap {
    padding-top: 100px;
    background-color: #222222;
    height: 10px;
  }

  /* p {
      color: blue;
  } */

  .single-footer-widget {
    background-color: #222222;
    
      
  } 