.mainContent {
    display: flex;
    min-height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 83%;
    margin: 0 auto;
}

/* .friendContent {
    float: left;

} */


/* .mapContent {
    float: right;

} */